:root {
    --clr-primary-100: #bfbfff;

    --clr-neutral-100: 278, 33%, 90%;
    --clr-neutral-200: 281, 25%, 33%;
    --clr-neutral-400: #896391;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--clr-primary-100);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

#hero {
    background-image: url('img/6.jpeg');
    padding: 100px 20px;
    text-align: center;
}

#hero h1 {
    font-size: 36px;
    color: #000000;
    font-family: 'Pacifico', cursive;
    margin-bottom: .5rem;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    text-align: center;
}

.cta-button {
    display: inline-block;
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
}

#menu {
    background-color: var(--clr-primary-100);
    padding: 50px 20px;
    text-align: center;
}

#menu h2 {
    font-size: 24px;
    color: #333;
    font-family: 'Pacifico', cursive;
    margin-bottom: .5rem;
}

.menu-items {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menu-item {
    margin: 0 10px;
    text-align: center;
}

.menu-item h3 {
    margin-bottom: .2rem;
    margin-top: .5rem;
}

.menu-item img {
    width: 200px;
    border-radius: 50px;
}

/*
#beneficios {
    display: flex;
    flex-direction: column; //Cambio a una dirección de columna 
    align-items: center;
  }
  
  .beneficio {
    display: flex;
    flex-direction: column; //Cambio a una dirección de columna 
    align-items: center;
    margin-bottom: 20px;
  }
  
  .beneficio img {
    width: 200px;
    margin-bottom: 20px; //Añadido un margen inferior 
  }
  
  .beneficio .contenido {
    flex-grow: 1;
  }
*/

/*menu*/
button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.burger,
.menu {
    position: fixed;
}

.burger {
    z-index: 3;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-image: url("img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

body.open .burger {
    background-image: url("img/close.svg");
}

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 400px;
    height: 100%;
    background: #07030a;
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.menu nav {
    opacity: 0;
}

@keyframes menu-in {
    0% {
        clip-path: ellipse(60% 60% at 0% 50%);
    }

    100% {
        clip-path: ellipse(120% 120% at 0% 50%);
    }
}

body.open .menu {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
}

body.open .menu nav {
    opacity: 1;
}

.menu nav:hover a {
    opacity: 0.25;
}

.menu nav a:hover {
    opacity: 1;
}

.menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 32px;
    font-family: "Euclid Circular A";
    padding: 20px 0;
    width: 300px;
    text-decoration: none;
    transition: 0.4s;
}

.menu a::before,
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: 0.4s;
}

.menu a::before {
    opacity: 0;
    background: rgb(255 255 255 / 20%);
}

.menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: #f7f7f7;
}

.menu a:hover::before {
    opacity: 1;
}

.menu a:hover::after {
    transform: scaleX(1);
}

body.open .menu a {
    animation: appear 0.25s backwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: -30px 0;
    }

    100% {
        opacity: 1;
    }
}

/*Franquicias*/
#franquicias {
    text-align: center;
    background-color: var(--clr-primary-100);
    padding: 15px 20px;
}

.franquicias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.franquicia {
    flex: 0 0 33.33%;
    margin-bottom: 20px;
}

.franquicia img {
    width: 200px;
    border-radius: 50px;
}

.franquicia h3 {
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
}

.franquicia p {
    font-size: 14px;
    color: #000000;
}

#franquicias h2 {
    font-size: 24px;
    color: #000000;
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
}


/*Testimonios*/


#testimonios h2 {
    font-size: 24px;
    color: #31708f;
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
}

#testimonios {
    text-align: center;
}

.testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial-card {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
}

.testimonial-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.testimonial-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-card p {
    font-size: 16px;
    color: #333333;
}
/*****************************/

#contacto {
    background-color: var(--clr-primary-100);;
    padding: 20px;
    text-align: center;
}

#contacto h2 {
    color: #31708f;
    font-size: 24px;
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
}

.opciones-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcion {
    margin: 0 10px;
    text-align: center;
}

.opcion img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
}

.opcion p {
    margin-top: 10px;
}

/**********************************/

/*footer*/
footer {
    background-color: var(--clr-primary-100);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

/* Estilos para pantallas de hasta 720px */
@media screen and (max-width: 720px) {
    header {
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 10px;
    }
    /* Ajustes para el slider de testimonios */
    #testimonios {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .testimonial {
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .testimonial img {
        max-width: 200px;
    }
    /* Ajustes para el apartado de menú */
    #menu {
        padding: 20px;
    }
    .menu-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .menu-item {
        text-align: center;
    }
    .menu-item img {
        max-width: 200px;
    }
    footer {
        padding: 10px;
        text-align: center;
    }
    #franquicias .franquicias-container {
        flex-wrap: wrap;
    }
    .franquicia {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .franquicia img {
        max-width: 200px;
    }
    #beneficios {
        align-items: stretch;
    }
    .beneficio {
        margin-bottom: 40px;
    }
    .beneficio img {
        margin-bottom: 0;
    }
    /*******************************/
    #contacto {
        padding: 50px 20px;
      }
    
      #contacto h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }
    
      .opciones-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .opcion {
        text-align: center;
        margin-bottom: 30px;
      }
    
      .opcion img {
        width: 60px;
        height: 60px;
      }
    
      .opcion p {
        margin-top: 10px;
      }
}

/****************************************/